<div class="gallerypara">
    <p>This section is a gallery section where you can see some pictures of the author.<br>
       Anything in here is/are not allowed for downloading.<br>
       Hope you understand. Thank you and God bless.</p>
</div>
<div class="body">
    <div class="images">
        <mat-grid-list cols="2" rowHeight="6:6">
            <mat-grid-tile><img src="/assets/pictures/Album/1.png"></mat-grid-tile>
            <mat-grid-tile><img src="/assets/pictures/Album/2.png"></mat-grid-tile>
            <mat-grid-tile><img src="/assets/pictures/Album/3.png"></mat-grid-tile>
            <mat-grid-tile><img src="/assets/pictures/Album/4.png"></mat-grid-tile>
            <mat-grid-tile><img src="/assets/pictures/Album/5.png"></mat-grid-tile>
            <mat-grid-tile><img src="/assets/pictures/Album/7.png"></mat-grid-tile>
          </mat-grid-list>
    </div>
</div>
