.gallerypara {
    border: 1px dashed black;
    font-style: normal;
    font-size: 25px;
    margin: 25px 25px;
    padding: 25px 25px;
}
.body
{
	margin: auto;
	padding: auto;
	background: #313131;
}
.images
{
	width: auto;
	height: auto;
	margin: auto;
	box-shadow: 0 0 60px rgba(0, 0, 0, 1);
	animation: fade 20s infinite;
}
