<div class="profilepara">
    <p>This section is a personal profile section where you can see the author's personal information.<br>
       Anything written in here is/are not the author's personal information to avoid data thieving.<br>
       Hoping you understand. Thank you and God bless.</p>
</div>
<div>
    
</div>
<mat-list>
    <div class="personiconalign">
        <mat-icon class="personicon">account_circle</mat-icon>
        Your Profile
    </div>
    <mat-divider></mat-divider>
    <mat-list-item>
        <mat-icon>location_on</mat-icon>
        <p>Lot 4 Block 3 Lorax Street, Thneedville</p>
    </mat-list-item>
    <mat-list-item>
        <mat-icon>call</mat-icon>
        <p>+639123456789</p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3>Interests</h3>
    <mat-list-item>
        <mat-icon>travel_explore</mat-icon>
        <p>Travel</p>
    </mat-list-item>
    <mat-list-item>
        <mat-icon>hiking</mat-icon>
        <p>Hiking</p>
    </mat-list-item>
    <mat-list-item>
        <mat-icon>sports</mat-icon>
        <p>Sports</p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3>Skills</h3>
    <mat-list-item>
        <mat-icon>groups</mat-icon>
        <p>Collaborative</p>
    </mat-list-item>
    <mat-list-item>
        <mat-icon>emoji_objects</mat-icon>
        <p>Creative</p>
    </mat-list-item>
</mat-list>