<div class="contactpara">
    <p>This section is a contact section where you can contact the author for queries.<br>
       Anything written in here is/are not the author's contact information to avoid data thieving.<br>
       Hoping you understand. Thank you and God bless.</p>
</div>
<mat-list>
    <mat-list-item>
        <mat-icon>email</mat-icon>
        <p>surname.firstname@gmail.com</p>
    </mat-list-item>
    <mat-list-item>
        <mat-icon>account_circle</mat-icon>
        <p>Your Name</p>
    </mat-list-item>
</mat-list>
